h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 8.0rem;
  color: #204051;
  /*margin: 0 auto 0 auto; this centers it left and right (auto sets things that have a width set)*/
}

body {
  margin: 0;
  text-align: center;
  /*will center anything inside that doesn't have a width set*/
  font-family: 'Merriweather', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #204051;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #3b6978;
  font-weight: bolder;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  height: 0;
  width: 3%;
  margin: 50px auto 50px auto;
}

a {
  color: #3b6978;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #fcf8f3;
}

.profile {
  width: 50%;
  margin: auto;
  line-height: 2;
}

.top-container {
  background-color: #a4c5c6;
  position: relative;
  padding-top: 250px;
  padding-bottom: 250px;
}

.second-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.third-container {
  padding: 50px 0 20px;
  background-color: #84a9ac;
  font-family: 'Montserrat', sans-serif;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.trees-1 {
  width: 300px;
  position: absolute;
  left: 50px;
  bottom: 0;
}

.mountain {
  bottom: 0;
  margin-bottom: 0;
}

.footer-link {}

.trainee {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  line-height: 2;
}

.copyright {
  color: #fcf8f3;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-message {
  width: 50%;
  margin: 20px auto 20px auto;
}

.myButton {
  background: linear-gradient(to bottom, #204051 5%, #84a9ac 100%);
  background-color: #204051;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #ffffff;
}

.myButton:hover {
  background: linear-gradient(to bottom, #84a9ac 5%, #204051 100%);
  background-color: #84a9ac;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.projects-tab {
  color: #204051;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}

a.projects-tab:hover {
  color: white;
}

.home-tab {
  color: black;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 10px;
  right: 100px;
  text-decoration: none;
}

a.home-tab:hover {
  color: black;
}

/****************************************PROJECTS-TAB****************************************/
.projects-top-container {
  background-color: #a4c5c6;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.p-projects-tab {
  color: black;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
}

a.p-projects-tab:hover {
  color: black;
}

.p-home-tab {
  color: #204051;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 10px;
  right: 100px;
  text-decoration: none;
}

a.p-home-tab:hover {
  color: white;
}

.pencil-img {
  width: 10%;
}

.linkedin-link {
  color: #3b6978;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-decoration: underline;
}

a.linkedin-link:hover {
  color: #204051;
}

a.github-link:hover {
  color: #204051;
}

.github-link {
  color: #3b6978;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-decoration: underline;
}

.introduction-projects {
  width: 50%;
  margin: auto;
  line-height: 2;
}

.projects-third-container {
  padding: 50px 0 20px;
  background-color: #3b6978;
  font-family: 'Montserrat', sans-serif;
}

.nophish1 {
  width: 40%
}

.project-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  color: white;
  margin-bottom: 8px;
}

.project-medium {
  width: 50%;
  margin: auto;
  color: white;
}

.project-des {
  color: white;
  width: 50%;
  line-height: 2;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.nophish-button {
	background:linear-gradient(to bottom, #84a9ac 5%, #84a9ac 100%);
	background-color:#84a9ac;
	border-radius:3px;
	border:1px solid #84a9ac;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	padding:10px 24px;
	text-decoration:none;
}
.nophish-button:hover {
	background:linear-gradient(to bottom, #204051 5%, #204051 100%);
	background-color:#204051;
  border-radius:3px;
	border:1px solid #204051;
}
.nophish-button:active {
	position:relative;
	top:1px;
}
